*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    padding: 40px;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1rem;
}

.box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 50px;
    padding:20px;
    border-style: solid;
    max-width: 600px;
    min-height: 400px;
}

h1 {
    padding-bottom: 20px;
    margin-top: 10px;
    text-align: center;
 }

 h5 {
    text-align: center;
 }
 
 p {
     padding-top:40px;
     font-weight: bold;
 }
  
 /* align input box */
 input {
     width: 80%;
     border-style: solid;
     align-self: auto;
     text-align: center;
 }
 
 .value {
    padding-left: 10px;
    font-weight: bold;
    text-align: center;
}

 /* align calculate button */
 .calc {
    margin: 25px 0px 0px 30px;
}

 button {
    background-color: #dbe8fc;
    border-color: #6c8ebf;
    padding: 0px 20px;
    font-weight: bold;
 }

 /* align celsius ouput */
.cval {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* all div test boxes */
 /* div {
     border-style: dotted;
     border-color: #f5f5f5;
 } */

 