 .container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 100px;
    justify-content: center;
    align-items: center;
}

.box {
    height: 200px;
    width: 400px;
    border: 1px solid black;
    position: relative;
}

.border {
    border: 1px solid black;
    padding: 20px;
}


h1 {
    text-align: center;
}

label {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.value {
    padding-bottom: 50px;
}

button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} 


/* #convert {
    background-color: #bba768;
  }
  #convert:hover {
    background-color: #bcc768;
  }
  h1 {
    font-family: sans-serif;
    color: #70b2e5;
  }
  input {
    display: block;
    padding: 10px;
    margin-top: 10px;
    font-size: 2em;
    color: #f4a55a;
    font-family: cursive, sans-serif;
  }
  ::-webkit-input-placeholder {
     color: #ccc;
  }
  :-moz-placeholder { /* Firefox 18- */
     /* color: #ccc;  
  }
  ::-moz-placeholder {  /* Firefox 19+ */
     /* color: #ccc;  
  }
  :-ms-input-placeholder {  
     color: #ccc;  
  }
  button {
    padding: 10px;
    font-size: 1.2em;
    color: #545454;
  }

  .container {
      border: black solid 2px;
  } */ */ */