body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

input[type=text] {
    width: 50%;
    padding: 5px 10px;
    margin: auto;
  }

  button {
    width: 100px;
    padding: 5px 10px;
    margin: auto;
    background-color: lightblue;
  }

  #celsius {
      font-weight: bold;
      text-align: ;
  }

.grid {
    max-width: 600px;
    display: grid;    
    grid-template-columns: 600px 200px 200px;
    grid-template-rows: 50px 100px 100px;
    margin: auto;
    border: 2px solid black;
  }


  .title {
    width: 600px;
  }